<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['priseCommande']" >Prise de commande</a>
  <button class="navbar-toggler" type="button"  [routerLink]="['priseCommande']" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <a class="navbar-brand" [routerLink]="['commandeEnCours']">Commandee en cours</a>
  <button class="navbar-toggler" type="button" [routerLink]="['commandeEnCours']" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <a class="navbar-brand"  [routerLink]="['commandeJournee']" ><p>Commandes de la journée</p></a>
  <button class="navbar-toggler" type="button" [routerLink]="['commandeJournee']" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <a class="navbar-brand" [routerLink]="['cloture']" >Cloture journée</a>
  <button class="navbar-toggler" type="button" [routerLink]="['cloture']" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <a class="navbar-brand" [routerLink]="['bilan/1']" >Bilan comptable</a>
  <button class="navbar-toggler" type="button" [routerLink]="['bilan/1']" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <a class="navbar-brand" [routerLink]="['menu']">Géstion du menu</a>
  <button class="navbar-toggler" type="button" [routerLink]="['menu']" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  </nav>


