<div class="container"> 
<img src="../assets/images/pizza1.png" width="160" heeight="160"/>
<img src="../assets/images/pizza2.png" width="160" heeight="160"/>
<img src="../assets/images/pizza3.png" width="160" heeight="160"/>
<img src="../assets/images/pizza4.png" width="160" heeight="160"/>
<img src="../assets/images/pizza5.png" width="160" heeight="160"/>
<img src="../assets/images/pizza6.png" width="160" heeight="160"/>
<img src="../assets/images/pizza7.png" width="160" heeight="160"/>
</div>
<div class="container"> 
  <p style="background-color: darkgoldenrod;"> COMMANDES </p>   
</div>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr [ngClass]="{enTete:true}">
        <th scope="col">ID</th>
        <th scope="col">NOM</th>
        <th scope="col">PRIX</th>
        <th scope="col">ETAT</th>
        <th scope="col">PAYEE</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr 
      *ngFor="let item of commandesList" 
      >
        <td [ngClass]="{
          'terminee':item.terminee,
          'aFaire':item.aFaire,
          'enCours':item.enCours,
          'annulee':item.annulee
          }" >{{item.id}}</td>
        <td>{{item.nom}}</td>
        <td>{{item.prix}}</td>
        <td>{{item.statutPreparation}}</td>
        <td>{{item.payee}}</td>
        <td><button type="button" (click)= "prendreCommande(item.id)" class="btn btn-primary" [disabled]=!item.aFaire>En cours</button></td>
        <td><button type="button" (click)= "terminerCommande(item.id)" class="btn btn-success" [disabled]=!item.enCours>Terminer</button></td>
        <td><button type="button" (click)= "annulerCommande(item.id)" class="btn btn-danger" [disabled]=!item.enCours>Annuler</button></td>

      </tr>
     
</table>
</div>